<%  @title = 'Logout' %>
<%= erb :'template/header' %>

<% if defined? @error %>
  <div class="alert alert-danger"><%= @error %></div>
<% elsif defined? @success %>
  <div class="alert alert-success"><%= @success %></div>
  <script>setTimeout(function() { window.location = '/user/login'; }, 1500);</script>
<% end %>

<%= erb :'template/footer' %>