      </div>

    </div>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/lib/bootstrap-select.min.js"></script>
    <script src="/js/lib/bootstrap-checkbox.js"></script>
    <script src="/js/user.js"></script>
  </body>
</html>
