<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="robots" content="index, follow">
    <title><%= defined?(@title) ? "#{@title} | Pigro" : 'Pigro' %></title>
  </head>
<body>